*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #ECECEC;
    display: flex;
    flex-wrap: wrap;
}

.header{
    width: 100%;
    height: 10%;
    background-color: #84934A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    width: 100%;
    padding: 50px 90px;
    height: 50%;
    display: flex;
    background-color: blue;
}
.inputs{
    width: 50%;
}

.input-group{
    width: 100%;
    height: 50%;
    border: 2px solid;
}

.input-group > label{
    width: 100%;
    height: 20%;
    padding: 20px;
    background-color:#84934A;
}
.input-group > input{
    width: 60%;
    height: 30%;
    border-radius: 10px;
    box-shadow: -1px 2px 3px;
    
}


.buttons{
    background-color: aquamarine;
    width: 50%;
}


.resultado{
    width: 100%;
    height: 40%;
    background-color: cadetblue;
}
