@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono';
}

.container{
    width: 100vw;
    height: 90vh;
    background-color: #323232;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #FFAC41;
    font-size: 17px;
    padding: 10px 0;
}
.logo-icon{
    font-size: 55px;
    color: #FF1E56;
}

.header > h1 > span{
    color: #FF1E56;
    font-size: 40px;
    padding: 0 5px;
}

.card{
    width: 70%;
    padding: 50px 90px;
    height: 50%;
    display: flex;
    background-color: #FF1E56;
    border-radius: 20px;
}
.inputs{
    width: 50%;
}

.input-group{
    width: 100%;
    height: 50%;
    display: flex;
    align-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;

}

.input-group > label{
    width: 100%;
    height: 30%;
    font-size: 30px;
    font-weight: bolder;
    padding: 0 10px;
}
.input-group > input{
    width: 80%;
    height: 60%;
    border-radius: 15px;
    box-shadow: -1px 3px 3px #323232;
    font-size: 35px;
    padding: 0 30px;
}

.input-group > input:focus{
    border: #FFAC41 solid 2px;
    outline: none;
    box-shadow: none;
}

.buttons{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
}

.buttons > button {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.buttons > button:hover {
    transform: scale(1.05);
    background-color: #FFAC41

}

.lucro{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.btn-clear {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    transition: ease-in 0.2s;
}

.btn-clear:hover{
    transform: scale(1.05);
    background-color:#FFAC41;

}

.resultado{

    width: 70%;
    height: 30%;
    background-color: #3C3D37;
    border-radius: 20px;
    border-left: 2px solid #FF1E56;
    border-bottom: 2px solid #FF1E56;
    box-shadow: #FF1E56 -8px 6px 8px;
    display: none;
    justify-content: start;
    padding: 40px 40px;
    flex-wrap: wrap;
    line-height: 10px;
}

.resultado > h2{
    color: #FFAC41;
    font-size: 30px; margin: 0 5px;
}
.resultado > p {
    font-size: 30px;
    color: #FF1E56;
}
.resultado > h1 {
    font-size: 40px;
    color: #FFAC41;
}
.resultado > h1 > span{
    color: #FF1E56;
}